
*.ipch
ConsoleApplication1/.vs/ConsoleApplication1/v16/.suo
*.db-shm
*.db
*.db-wal
*.opendb
*.pdb
*.idb
*.log
*.tlog
*.vcxproj
*.ilk
*.obj
*.user
*.filters
ConsoleApplication1/Debug/ConsoleApplication1.exe
ConsoleApplication1/ConsoleApplication1.sln
